html {
    background-color: #212121;
    margin: 0;
    cursor: none;
    overflow: hidden;
    font-family: "Comic Sans MS", monospace;
}

.content {
    margin-left: 78px;
    position: relative;
    z-index: 2;
    color: white;
}