html {
    background-color: #212121;
    margin: 0;
    cursor: none;
    overflow: hidden;
}


.title {
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title span {
    position: relative;
    display: inline-block;
    animation: wavyAnim 1s ease-in-out infinite;
    animation-delay: calc(0.01s *var(--i));
}

@keyframes wavyAnim {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-20px)
    }
    50% {
        transform: translateY(0px);
    }
}